body {
  background-color: #fdfdfd;
}
footer {
  text-align: right;
}

#chart {
  margin: 0px auto;
  text-align: center;
}

#message {
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
  height: 32px;
}

#link {
  margin-top: 32px;
  float: right;
}
#link .git-icon {
  height: 32px;
}