body {
  background-color: #fdfdfd;
}
footer {
  text-align: right;
}
footer hr {
  margin-bottom: 10px;
}

#chart {
  margin: 0px auto;
  text-align: center;
}

#message {
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
  height: 32px;
}

#link {
  margin-top: 32px;
  float: right;
}
#link .git-icon {
  height: 32px;
}

.nav {
  margin: 8px 0;
}
.page-header.title, .page-header.title h1 {
  margin-top: 12px;
}
.page-header.tips {
  margin-top: 0px;
}
.chart {
  margin-top: 42px;
}
.sourcecode pre {
  background-color: #fdfdfd;
  border: none;
  border-radius: 0;
  padding: 12px 0px;
  font-size: 1.2em;
}
.sourcecode h3 {
  margin-left: 4px;
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}