{% macro generate(title, name, data = None, data2 = None) -%}
<!DOCTYPE html>
<html lang="en">
  {% include 'common/header.html' %}
  <body>
    <div class="container">

      <div class="nav">
        <a href="/">Home</a>
      </div>

      <div class="page-header title">
        <h1>{{ title }}</h1>
      </div>

      <div class="chart">
        <div id="chart"></div>
      </div>

      <div class="sourcecode">
        <h3># {{ name }}.js</h3>
        <pre><code class="html javascript">{{ name|to_code }}</code></pre>
      </div>
{% if data %}
      <div class="sourcecode">
        <h3># {{ data }}</h3>
        <pre><code class="html">{{ data|to_data }}</code></pre>
      </div>
{% endif %}{% if data2 %}
      <div class="sourcecode">
        <h3># {{ data2 }}</h3>
        <pre><code class="html">{{ data2|to_data }}</code></pre>
      </div>
{% endif %}
      <footer>
        <hr>
        <p>&copy; Masayuki Tanaka 2013</p>
      </footer>
    </div>

    {% include 'common/scripts.html' %}
    <script src="/js/samples/{{ name }}.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
{%- endmacro %}
