.container

  %h1.title
    C3.js
    %small D3-based reusable chart library

  .chart
    #message
      %a.button.small( onclick="startDemo();") Start Demo
    #chart

  %hr.large

  %h2.text-center Why C3?
  .row.text-center.features
    .medium-4.large-4.columns.supporticons
      %h3 It's Comfortable
      %p
        C3 makes it easy to generate D3-based charts by wrapping the code required to construct the entire chart. We don't need to write D3 code any more.
    .medium-4.large-4.columns.supporticons
      %h3 It's Customizable
      %p
        C3 gives some classes to each element when generating, so you can define a custom style by the class and it's possible to extend the structure directly by D3.

    .medium-4.large-4.columns.supporticons
      %h3 It's Controllable
      %p
        C3 provides a variety of APIs and callbacks to access the state of the chart. By using them, you can update the chart even if after it's rendered.

  %h3.text-center.sub
    C3 enables a deeper integration of charts into your application.
  %br

  .text-center
    %a.button( href="/gettingstarted.html" ) Getting Started

  %hr

  %h3 The Latest Version
  %ul
    %li <a href="https://github.com/masayuki0812/c3/releases/tag/0.1.41">0.1.41</a>

  %h3 Browser Support
  %p Because of the dependence on D3, C3 supports only modern browsers D3 supports. Please see <a href="https://github.com/mbostock/d3/wiki#browser-support">the description in D3</a>:

  = partial :footer

= partial :script
= javascript_include_tag 'index'
